.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rdb
*.RData
*.rdx
\\.knit\\.md$
\\.utf8\\.md$
blogdown/
Submissions
SSC442.csv
SS21-SSC-442-001 - Data Analytics Applications_GradesExport_2021-05-03-20-27.csv
