.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rdb
*.RData
*.rdx
.DS_Store
Thumbs.db
\\.knit\\.md$
\\.utf8\\.md$
Submissions
SSC442.csv
SS21-SSC-442-001 - Data Analytics Applications_GradesExport_2021-05-03-20-27.csv
